* {
    transition: 0.3s ease;
}

.pbody {
    overflow-y: scroll;
    overflow-x: hidden;
}

.bar {
    margin: 0;
    padding: 0;
    width: calc(99vw - 45px);
}


.nav {
    padding: 11px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.navitem {
    margin: 10px;
    padding: 0;
}


.footer {
    text-align: center;
}

.picture {
    box-sizing: border-box;
}

.picture:hover {
    border-radius: 0;
    box-shadow: 8px 8px 0px 1px var(--green); 
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(200px, min(30vw, 400px)), 1fr));
    gap: calc(10px + 0.4vw + 0.8vh);
    padding: 20px;
    /* max-height: 100vh;  */
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 2px;
    transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
}

@media screen and (max-width: 440px) {
    .landscape {
        grid-column: span 1;
    }
    
    .portrait {
        grid-row: span 2;
    }
    
    .square {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (min-width: 440px) {
    .landscape {
        grid-column: span 2;
    }
    
    .portrait {
        grid-row: span 2;
    }
    
    .square {
        grid-column: span 1;
        grid-row: span 1;
    }
}

.btn {
    padding: 0;
    margin: 0; 
    background: #00000000;
    border: 0px solid;
}

input {
    background-color: var(--cw);
    color: var(--green);
    outline: none;

    padding: 5px;

    border-style: solid;
    border-width: 1.4px;
}

input::placeholder {
    color: var(--faded-white);
    opacity: 1;
}

input:placeholder-shown {
    border-left-color: var(--tsp);
    border-right-color: var(--white);
    border-top-color: var(--tsp);
    border-bottom-color: var(--white);
}

#collection_input:placeholder-shown {
    border-left-color: var(--tsp);
    border-right-color: var(--tsp);
    border-top-color: var(--tsp);
    border-bottom-color: var(--white);
}

input:not(:placeholder-shown) {
    border-left-color: var(--tsp);
    border-right-color: var(--tsp);
    border-top-color: var(--white);
    border-bottom-color: var(--white);
}

#collection_input:not(:placeholder-shown) {
    border-left-color: var(--white);
    border-right-color: var(--tsp);
    border-top-color: var(--white);
    border-bottom-color: var(--white);
}

input:focus {
    border-left-color: var(--white);
    border-right-color: var(--white);
    border-top-color: var(--white);
    border-bottom-color: var(--white);
}

#collection_input:focus {
    border-left-color: var(--white);
    border-right-color: var(--white);
    border-top-color: var(--white);
    border-bottom-color: var(--white);
}


input::selection {
    background: var(--green);
    color: var(--white);
    font-style: bold;
}

#preview {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(94vh - 4em);
    max-width: 90vw;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 0px 0px var(--cb);
    z-index: 5;
}

#preview:hover {
    box-shadow: 0px 0px 0px 0px var(--cb); 
}

#overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--cd);
    padding-top: 6px;
}

#overlay_grid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    opacity: 0;
    display: none;
}

.overlay_text {
    color: var(--white);
    font-size: 1.6em;
    opacity: 1;
    z-index: 4;
    margin-top: 0.2em;
    margin-left: 10px;
    margin-right: 10px;
}

.overlay_btn, .normal_btn {
    cursor: pointer;
}

.overlay_btn:hover, .normal_btn:hover {
    color: var(--green);
    opacity: 1;
    border-radius: 0.3px;
    cursor: pointer;
    /* box-shadow: 0px 0.15em 0px 0px var(--green);  */
}

.form_overlay {
    background: var(--cd);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: calc(94vh - 5em);
    max-width: 70vw;
    width: auto;
    height: auto;
    min-height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    white-space: nowrap;  
    -webkit-overflow-scrolling: touch; 
    scrollbar-color: var(--dp) var(--green);
    scrollbar-width: thin;
    scrollbar-gutter: stable;
}

.coll_btn {
    padding: 0.1em;
    margin: 0.2em;
    /* width: auto; */
    font-size: 1.6em;
    background: var(--mp);
    color: var(--white);
    display: inline-block;
    border: 1.4px solid var(--white);
    padding: 0.4em;
    z-index: 9;
}

.button_carousel {
    /* height: 5.02em; */

    max-width: 60vw;
    width: auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 6em;
    min-height: 3.6em;

    border: 1.4px solid var(--white);
    border-bottom: none;
    border-right: none;
    padding: 1em;

    overflow-x: scroll;
    overflow-y: hidden;

    color-scheme: dark;
}

.button_carousel::-webkit-scrollbar {
    width: 7px;
}

.button_carousel::-webkit-scrollbar-track {
    background: var(--blue);
    opacity: 0.3;
}

.button_carousel::-webkit-scrollbar-thumb {
    background: var(--white);
}

.overlay_input {
    /* display: block; */
    font-size: 1.6em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 5em;
    margin-top: 1em;
}

#other_btn {
    width: 6em;
    padding: 0;
    font-size: 1em;
    color: var(--white);
    border: none;
}
